/nbproject/private/
/TP1CustomerApplication-war/nbproject/private/
/TP1CustomerApplication-ejb/nbproject/private/
/TP1CustomerApplication-ejb/build/
/TP1CustomerApplication-war/build/
/TP1CustomerApplication-ejb/dist/
/build/
/TP1CustomerApplication-war/dist/
/dist/